@media (max-width: 480px){
    .login_section {
        position: relative;
        background-color: black;
        height: auto;
    }
    
    .container_two {
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 110px;
        background-color: white;
        border-radius: 6px;
    }
    
    .title {
        margin-bottom: 54px;
        font-size: 28px;
        font-weight: bold;
        color: white;
        margin-top: 54px;
        font-family: "Inter", sans-serif;
        text-align: center;
    }
    
    .description {
        padding-top: 36px;
        font-family: "Inter", sans-serif;
        text-align: center;
        padding-right: 14px;
        padding-left: 14px;
        font-size: 12px;
    }
    
    .new_admin {
        padding-left: 16px;
        font-family: "Inter", sans-serif;
    }
    
    .login {
        margin-bottom: 36px;
    }
    
    .button_login {
        width: 269px;
        font-family: "Inter", sans-serif;
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 10px 0px;
        border: none;
        margin-bottom: 20px;
    }
    
    .input_devise {
        width: 269px;
        background: #f5f5f5;
        border-radius: 10px;
        border: none;
    }
    
    .label_devise {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
}