<h1>Vista general de la aplicacion</h1>
<p>Find me in app/views/home/index.html.erb</p>



<div class="container">
  <span id="hour"></span> :
  <span id="minutes"></span> :
  <span id="seconds"></span>
</div>