<div class="container-home">
  <%= render 'navbar' %>

  <div class="container">
  <div class="container__number">
    <span class="number-clock" id="hour"></span> 
    <p>hours</p>
  </div>
  <span class="number-colon">:</span>
  <div class="container__number">
    <span class="number-clock" id="minutes"></span>
    <p>minutes</p>
  </div>
  <span class="number-colon">:</span>
  <div class="container__number">
    <span class="number-clock" id="seconds"></span>
    <p>seconds</p>
   </div>
  </div>


  <%= form_with url: "/parse_input", method: :post do |form| %>
  <div class="d-flex fd-column form_private_number mx-auto px-1 mt-5">
    <%= form.text_field(:private_number, class: "around mb-1 input-form-home", placeholder: "Private Number") %>
    <%= form.submit("check", class: "around submit-form-home") %>
  </div>
  <% end %>

</div>